<div class="container">
    <form>
        <div class="form-group">
            <label for="cantidadHorasSimulacion"> Horas simulacion: </label>
            <input
                type="number"
                class="form-control"
                id="cantidadHorasSimulacion"
                [formControl]="cantidadHorasSimulacionControl"
                [(ngModel)]="horasSimulacion"
                placeholder="Cantidad horas"
            >

            <div
                *ngIf="cantidadHorasSimulacionControl.invalid && (cantidadHorasSimulacionControl.dirty || cantidadHorasSimulacionControl.touched)"
            >
                Horas requerido y mayor a 0
            </div>
        </div>
        <br>
          <button [disabled]="deshabilitarBoton" type="submit" class="btn btn-primary" (click)="start()">Start</button>
          <button [disabled]="!deshabilitarBoton" type="submit" class="btn btn-success" (click)="restart()">Reset</button>
        <br>
    </form>
</div>
